{% extends "base.html" %}

{% block content %}


<div class="bg-sky-950 flex flex-col min-h-screen">
    <div class="flex flex-col justify-center items-center h-2/5">
        <div class="mt-12">
            <h1 class="text-9xl font-bold mt-5 text-lime-400 ">guessic</h1>
            <hr>
        </div>
    </div>
    <div class="flex flex-col flex-grow justify-center items-center w-screen">
        <div class="w-3/5 p-6 shadow-lg bg-gray-600 rounded-3xl mx-auto">
            
            <form method="post" action="{{ url_for('main.result') }}" class="w-full">
                {{ form.hidden_tag() }}

                <div class="mb-4">
                    <div class="flex">
                        <div class="flex-none w-1/4 p-4 flex items-center">
                            <label for="number" class="block text-lime-400 text font-bold mb-2">FIRST 8 DIGITS IC:</label>
                        </div>
                        <div class="flex-grow w-3/4 p-4">
                            <input id="number" name="number" type="text" size="8" {% if form.number.data %}value="{{ form.number.data }}"{% endif %} class="appearance-none block w-full bg-gray-200 border border-lime-400 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            {% for error in form.number.errors %}
                                <p class="text-red-500 text-xs italic">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="flex">
                        <div class="flex-none w-1/4 p-4 flex items-center">
                            <label for="number" class="block text-lime-400 text font-bold mb-2">GENDER:</label>
                        </div>
                        <div class="flex-grow w-3/4 p-4">
                            <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                    <div class="flex items-center ps-3">
                                        <input id="horizontal-list-radio-male" type="radio" value="male" name="gender" class="w-4 h-4 text-lime-400 bg-gray-100 border-lime-400 focus:ring-lime-500 dark:focus:ring-lime-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" {% if form.gender.data == 'male' %} checked {% endif %}>
                                        <label for="horizontal-list-radio-male" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">MALE</label>
                                    </div>
                                </li>
                                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                    <div class="flex items-center ps-3">
                                        <input id="horizontal-list-radio-female" type="radio" value="female" name="gender" class="w-4 h-4 text-lime-400 bg-gray-100 border-lime-400 focus:ring-lime-500 dark:focus:ring-lime-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" {% if form.gender.data == 'female' %} checked {% endif %}>
                                        <label for="horizontal-list-radio-female" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">FEMALE</label>
                                    </div>
                                </li>
                            </ul>
                            {% for error in form.gender.errors %}
                                <p class="text-red-500 text-xs italic">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="flex justify-center items-center">
                    <button type="submit" class="bg-lime-400 hover:bg-lime-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="bg-gray-900 shadow dark:bg-gray-800">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            © 2024 <a href="#" class="hover:underline">guessic</a>. All Rights Reserved.
            </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
        </div>
    </footer>
</div>
{% endblock %}
